* {
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}

.title {
    color: darkblue;
}

p {
    font-size: 24px;
}
.hero {
    text-align: center;
    padding: 50px;
    margin: 50px;
}
button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .hero {
        padding: 25px;
        margin: 20px;
    }

    .title {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    button {
        width: 100%;
    }
}
